/* Header */
.hd-comp{
    height: 70px;
    width: 100%;
    background-color: #080808;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hd-comp p{
    margin-right: 10vw;
    font-family: 'Bangers', sans-serif;
    font-size: 32px;
    color: #CD0F0F;
}

.back{
    margin-left: 10vw;
    display: flex;
    align-items: center;
    color: #CD0F0F;
    font-family: 'Quicksand', sans-serif;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.back span{
    margin-left: 10px;
}